@import "@easyspace/ui/styles/tokens.css";

@source "../../../packages/ui/src/**/*.{ts,tsx}";
@source "../../../packages/workbench/src/**/*.{ts,tsx}";
@source "../../../packages/editor/src/**/*.{ts,tsx}";
@source "../../../packages/plugins/**/src/**/*.{ts,tsx}";
@source "../reference-ide/src/**/*.{ts,tsx}";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
